:root {
    --primary-bg-color: rgb(75, 75, 75);
    --secondary-bg-color: rgb(15, 15, 15);
    --primary-bg-color-80t: rgba(207, 207, 207, 0.8);
    --secondary-bg-color-80t: rgba(82, 82, 82, .80);
    --secondary-bg-color-0t: rgba(35, 35, 35, 0.0);
    --primary-button-color: rgb(50, 0, 0);
    --primary-button-color-hover: rgb(73, 0, 0);
    --secondary-button-color: rgb(50, 50, 50);
    --secondary-button-color-hover: rgb(90, 90, 90);
    --project-entries-bg-color: rgba(116, 0, 0, .50);
    --project-entries-bg-color-hover: rgba(116, 0, 0, 0.80);
}

#homeHeader {
    height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/Assets/Images/Portraits/HeaderImage2.png");
    background-size: cover;
    background-position-y: 42%;
    background-repeat: no-repeat;
}

.blendPortraitToProjects {
    position: absolute;
    bottom: 25%;
    height: 150px;
    width: 100%;
    filter: blur(5px);
    background-image: linear-gradient(to bottom, var(--secondary-bg-color-0t) 0%, var(--primary-bg-color) 75%, var(--primary-bg-color) 100%);
}

.underliningSeparatorBar {
    border-style: solid none none none;
    border-color: white;
    border-radius: 5px;
    width: 100%;
    height: 0;
}

.homeHeaderH1 {
    text-align: center;
    color: white;
    font-size: 6rem;
}

.homeHeaderH3 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.verticalSpacer {
    display: table-column;
    width: 50%
}

#projectSection {
    background-color: var(--primary-bg-color);
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 30px 0 30px 0;
}

.projectSortBar {
    display: flex;
    background-color: darkgrey;
    height: 25px;
    width: 95%;
    margin: auto;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 5px;
}

#projectSortBy, #classSortBy {
    background-color: white;
    height: 25px;
    width: 150px;
}

#classSortBy, #labelClassSortBy {
    visibility: hidden;
}

.H2 {
    text-align: center;
    font-size: 1.5rem;
}

#projectsContainer {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-around;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    height: auto;
}

.projectEntry {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    background-color: var(--project-entries-bg-color);
    background-size: cover;
    justify-content: center;
    align-content: center;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.projectEntrySpacer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.projectEntry:hover {
    background-color: var(--project-entries-bg-color-hover);
    transition: background-color 0.2s ease;
}

.projectEntry img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.projectEntry h4 {
    text-align: center;
    font-size: 28px;
    text-wrap: wrap;
}

.projectEntryFooter {
    text-align: center;
    border-style: solid none none none;
    border-width: 1px;
    padding-top: 5px;
    width: 95%;
}

#noResultsText {
    display: none;
    position: relative;
    bottom: 250px;
    text-align: center;
}

#aboutSection {
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    align-content: center;
    justify-content: center;
    padding: 30px 0 30px 0;
}

#aboutMeParagraphs {
    display: grid;
    text-align: center;
    align-content: inherit;
    justify-content: inherit;
}

#aboutMeParagraph, .aboutMeParagraph, #finalAboutMeParagraph {
    text-wrap: auto;
    max-width: 850px;
    width: auto;
    font-size: large;
    padding: 15px;
    border-bottom: solid lightgray;
}

#finalAboutMeParagraph {
    border-bottom: none;
}

#educationSection {
    display: flex;
    color: white;
    background-color: var(--primary-bg-color);
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

.classes {
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px;
    width: 100%;
}

.computerScienceCourse {
    border: solid lightgray;
    padding: 15px;
    height: auto;
    border-radius: 15px;
    background-color: var(--secondary-bg-color);
    margin: 15px;
}

.computerScienceCourse p {
    text-wrap: wrap;
    text-indent: 30px;
}

#contactMeSection {
    display: flex;
    color: white;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

.contactMe a {
    display: grid;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border: solid lightgray;
    border-radius: 15px;
    grid-template-columns: auto auto auto;
}

.contactMe a, .mainFooter a {
    color: white;
    font-style: normal;
}

.ProjectFullScreenWidget {
    height: 95%;
    width: 95%;
    display: none;
    position: fixed;
    top: 2.5%;
    left: 3%;
    z-index: 2;
    background-color: var(--secondary-bg-color);
    color: white;
    border-radius: 15px;
    overflow-y: scroll;
    border: 1px solid var(--primary-bg-color-80t);
}

.projectNameBox {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 25px;
}

.centerContent {
    display: flex;
    align-content: center;
    justify-content: center;
}

.projectContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: space-between;
    padding: 15px;
}

.projectExitButton {
    display: flex;
    height: 55px;
    position: relative;
    bottom: 5%;
}

.exitProject {
    width: 85%;
    transition: background-color 0.2s ease;
    background-color: var(--secondary-button-color);
    color: white;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 14px;
}

.exitProject:hover {
    width: 85%;
    background-color: var(--secondary-button-color-hover);
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 14px;
}

.exitProject:active {
    width: 85%;
    background-color: black;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 14px;
}

.projectImageDiv {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto;
    min-height: 500px;
    max-width: 500px;
}

.projectImageDiv img {
    align-content: center;
    justify-content: center;
    max-height: 500px;
    max-width: 500px;
    border: solid lightgray;
}

.imgButtons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.photoBarButtonRight {
    width: 35px;
    height: 100px;
    background-color: rgba(137, 0, 0, 0.10);
    color: white;
    border: lightgray solid 1px;
    transition: background-color 0.2s ease, border 0.2s ease;
    border-radius: 5px 0 0 5px;
    font-size: 24px;
}

.photoBarButtonLeft {
    width: 35px;
    height: 100px;
    background-color: rgba(137, 0, 0, 0.10);
    color: white;
    border: lightgray solid 1px;
    transition: background-color 0.2s ease, border 0.2s ease;
    border-radius: 0 5px 5px 0;
    font-size: 24px;
}

.photoBarButtonRight:hover {
    border: lightgray solid 2px;
    background-color: rgba(137, 0, 0, 0.35);
    border-radius: 5px 0 0 5px;
}

.photoBarButtonLeft:hover {
    border: lightgray solid 2px;
    background-color: rgba(137, 0, 0, 0.35);
    border-radius: 0 5px 5px 0;
}

.photoBarButtonRight:active {
    border: lightgray solid 2px;
    background-color: rgba(137, 0, 0, 0.5);
    border-radius: 5px 0 0 5px;
}

.photoBarButtonLeft:active {
    border: lightgray solid 2px;
    background-color: rgba(137, 0, 0, 0.5);
    border-radius: 0 5px 5px 0;
}

.projectImageDiv .imgButtons {
    position: absolute;
    justify-content: space-between;
    width: 500px;
}

.projectDesc {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    max-width: 650px;
    height: auto;
}

.projectData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}

.projectLink {
    color: white;
    text-align: center;
    margin: 16px;
}

.projectInTextLink {
    color: white;
    text-align: center;
}

p, a, button, input, textarea, label, select, h1, h2, h3, h4, h5, h6, footer, header, ul {
    font-family: "Inter", "sans-serif";
}

.descText {
    font-size: 14px;
}